body{
margin:0;
font-family:Tahoma;
background:#3e2723;
color:#f3e9dc;
transition:0.4s;
}

body.light{
background:#f5e6d3;
color:#3e2723;
}

header{
background:#5d4037;
padding:20px;
text-align:center;
font-size:28px;
display:flex;
justify-content:space-between;
align-items:center;
}

.container{
max-width:1000px;
margin:auto;
padding:30px;
}

.search{
width:100%;
padding:10px;
margin:20px 0;
border-radius:8px;
border:none;
}

.card{
background:#f5e6d3;
color:#3e2723;
padding:20px;
margin:15px 0;
border-radius:12px;
}

.counter{
margin-top:10px;
}

button{
background:#6d4c41;
color:white;
border:none;
padding:6px 12px;
border-radius:6px;
cursor:pointer;
